@use "../../styles/vars" as vars;

.myProfile {
  border: solid 1px #2b050e;
  margin: 4rem auto;
  border-radius: 20px;
  box-shadow: rgb(41, 12, 12) 0px 20px 30px -10px;
  width: 60%;
}

.title-myProfile {
  background-color: vars.$dark-green;
  border-radius: 20px 20px 0 0;
}

.title-myProfile h3 {
  padding-left: 3vh;
}

.informations-label {
  display: flex;
  padding-top: 2rem;
}

.informations-label input {
  background-color: vars.$light-green;
  width: 80%;
  border: none;
}

.separation-label div {
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;
  align-items: center;
}

.button-profile, .button-profile-delete {
  display: flex;
  justify-content: flex-end;
  padding: 3rem;
}

.button-style, .button-style-delete {
  font-size: 1rem;
  padding: 1rem 3rem;
}

.avatar {
  max-width: 40%;
  border-radius: 1.2rem;
}

.separation-label {
  display: flex;
  width: 60%;
  flex-direction: column;
  align-items: flex-end;
  padding-left: 2rem;
}

.avatar-profil {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.select-profil {
  margin: 2rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: vars.$light-green;
}

.button-style-delete{
  background-color: vars.$colored-white;
  border: vars.$red 1px solid;
  color: vars.$red
}

@media (max-width: 1024px) {
  .informations-label {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;   
  }

  .separation-label {
    width: 100%;
    padding-right: 2rem;
  }

  .avatar-profil {
    width: 100%;
    padding-top: 2rem;
  }
}

 .modal-myprofile{
  background-image: none;
  background-color: vars.$red;
  display: flex;
  flex-direction: column;
  gap: 3vh;
  width: 100%;
  padding: 5vh;
  align-items: center;
  text-align: center;
} 

.modal-myprofile h4{
  font-size: xx-large;
}

.button-confirm, .button-cancel {
  width: fit-content;
  padding: 1vh 3vh;
}

.button-myprofile{
  display: flex;
  gap: 3vh;
}

.modal-myprofile .children-div{
width: 100%;
}