@use "../../styles/vars" as vars;

.banner-myProfil {
  width: 100%;
  height: 50vh;
  background-image: url('../../assets/zombieland-mon-compte.webp');
  background-size: cover;
  background-position: center 18%;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.page-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}