//* Default colors
$dark-green: #243037;
$medium-green: #63878c;
$medium-green-transparent: #63878cae;
$light-green: #7fb4af;
$white: #ffffff;
$colored-white: #F5FCFC;
$dark-black: #0D0609;
$light-black: #261B20;
$red: #91272A;

$padding-title: 2vh 2vh 1vh 1vh;
$border-radius: 10px;
$padding-page: 15vh 0;
$padding-container: 15vh;
$padding-content: 3vh;
$gap: 7vh;