@use "vars" as vars;
@use"./reset.css";
@use "fonts" as fonts;

//  Import de la police de titre

@font-face {
  font-family: 'Overhaul';
  src: url("./font/Overhaul.woff") format("woff");
  font-display: swap;
}

html {
  font-family: fonts.$font-family-Noto;
  background-color: vars.$colored-white;
}

h1 {
  font-family: 'Overhaul', sans-serif;
  font-size: 5vh;
  color: vars.$colored-white;
  background-color: vars.$medium-green-transparent;
  border-radius: vars.$border-radius;
  width: fit-content;
  padding: vars.$padding-title;
  text-shadow: 0px 6px 5px vars.$padding-title;
}

h2 {
  font-family: 'Overhaul', sans-serif;
  font-size: 4vh;
  color: vars.$dark-black;
}

h3 {
  font-family: 'Overhaul', sans-serif;
  font-size: 3vh;
  color: vars.$colored-white;
  background-color: vars.$dark-green;
  padding: vars.$padding-title;
  border-radius: vars.$border-radius;
  width: fit-content;
}

.button:hover {
  cursor: pointer; //A mettre ailleurs aussi (user friendly ?
}

a {
  background-color: vars.$medium-green;
  color: vars.$colored-white;
  padding: 1vh 4vh;
  border-radius: vars.$border-radius;
  text-decoration: none;
}

a:hover {
  background-color: vars.$red;
}

button {
  font-size: 2vh;
  font-weight: 800;
  color: vars.$colored-white;
  background-color: vars.$dark-green;
  border-radius: vars.$border-radius;
  padding: 1vh 15vh;
}

input {
  padding: 1vh;
  border-radius: vars.$border-radius;
}

p {
  line-height: 3vh;
}

main {
  padding-top: 15vh;
}