@use"./reset.css";
@use "./vars" as vars;

.modal-title{
  display: block;
  margin-bottom: 2rem;
  box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;;
}

.modal-text{
  color: vars.$colored-white;
  background-color: vars.$medium-green-transparent;
  padding: 3vh; 
  border-radius: vars.$border-radius;
}

.modal-car-park{
  background-image: url(MadMaxCar.webp);
  background-position: 50% 70%;
}

.modal-schedule{
  background-image: url(ClockTower.webp);
  background-position: 50% 30%;
}

.modal-disability{
  background-image: url(WheelchairGun.webp);
  background-position: 50% 20%;  
}

.modal-plan{
  background-image: url(CityII.webp);
  background-position: 50% 80%;  
  width: 100%;
}

.modal-car-park, .modal-disability, .modal-schedule, .modal-plan{
  background-size: cover;
  height: fit-content;
  padding: 3vh;
  border-radius: vars.$border-radius;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.access-img{
  display: flex;
  margin: 0 auto;
  border-radius: vars.$border-radius;
  width: 50%;
}
