@import"./reset.scss";
@import "./vars.scss";

.modal-content{
  display: block;
  margin-right: 20rem;
  margin-left: 10rem;
  border-radius: 2rem;
  background-color: #63878c;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;;
}

.modal-title{
  display: block;
  margin-bottom: 2rem;
}
.modal-text{
  color: aliceblue;
}




