//* Default colors
$dark-green: #243037;
$medium-green: #63878C;
$medium-green-transparent: #63878cae;
$light-green: #7fb4af;
$white: #ffffff;
$colored-white: #F5FCFC;
$dark-black: #0D0609;
$light-black: #261B20;
$red: #BE3B40;

$padding-title: 2vh 2vh 1vh 1vh;
$border-radius: 10px;