@import "../../styles/vars.scss";

.login-section {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  background-color: $medium-green;
  width: 50%;
  height: 60vh;
  padding: 10vh;
  border-end-end-radius: $border-radius;
  gap: 2vh;}

  .login-section h2 {
    background-color: $medium-green;
    padding: 0;
    margin: 0 auto;
}


.login-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 80%;
  justify-content: space-between;
  width: 100%;
  gap: 2vh;
}

.login-form  input {
    background-color: $medium-green;
    border: solid 2px $colored-white;
    width: 100%;
  }

  .login-section p {
    font-weight: 600;
    font-size: 2vh;
    margin-left: auto;
    margin-bottom: 4vh;
  }
.password-login-div{
  display: flex;
    align-items: center;
    width: 100%;
}

.password-login-div i{
  margin-left: 1vh;
  width: 5%;
}

.forgotten-pwd{
  font-weight: 800 !important;
  font-size: 2vh;
  margin-left: auto;
  margin-bottom: 4vh;
  color: $dark-green;
  border-bottom: none;
}

.forgotten-pwd :hover{
  background-color: transparent;
  border-bottom: #BE3B40 2px solid;
  border-radius: 0;
}

::placeholder{
  color: $colored-white;
}

::-ms-input-placeholder {
  color: $colored-white;
}

.login-section button{
  padding: 1vh 3vh;
  width: 100%;
}

@media screen and (max-width: 1024px){
  .login-section {
    width: 100%;
  height: 40vh;
  padding: 3vh;
} 
} 

@media screen and (max-width: 900px){
  .login-section {
  height: 45vh;
  }


}

