@use "../../styles/vars" as vars;

.my-reservation-test {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.my-reservation {
  border: solid 1px #2b050e;
  margin: 4rem auto;
  border-radius: 20px;
  box-shadow: rgb(41, 12, 12) 0px 20px 30px -10px;
  width: 60%;
}

.title-myReservation {
  background-color: vars.$dark-green;
  border-radius: 20px 20px 0 0;
}

.title-myReservation h3 {
  padding-left: 3vh;
}

.my-reservation-border {
  width: 25%;
  margin: 3vh;
  color: aliceblue;
  background-color: vars.$dark-green;
  padding: vars.$padding-content;
  border: 2px solid vars.$medium-green;
  border-radius: vars.$border-radius;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.my-reservation-border p {
  line-height: normal;
}

.my-reservation-head {
  display: flex;
  align-items: center;
  gap: 2vh;
}

.my-reservation-head div {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.my-reservation-billet {
  font-family: 'Overhaul', sans-serif;
  justify-content: center;
}

.my-reservation-head img {
  max-width: 7vh;
  max-height: 7vh;
}

.my-reservation-content {
  display: flex;
  flex-direction: column;
}

.my-reservation-button {
  display: flex;
  width: 100%;
  gap: 1vh;
  justify-content: space-between;
}

.reservation-button {
  background-color: vars.$light-green;
  border: none;
  box-shadow: vars.$dark-black 0px 1px 2px 0px, vars.$dark-black 0px 2px 6px 2px;
  padding: 0.5vh 1vh;
  font-weight: normal;
  width: 45%;
  text-align: center;
}

.my-reservation-price {
  display: flex;
  justify-content: space-between;
  font-size: large;
}

.reservation-total {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.my-space {
  width: 70%;
  border-bottom: 2px vars.$colored-white dotted;
}

.my-totale-text{
  font-weight: 800;
  font-size: large;
}

.my-total-price{
  background-color: vars.$medium-green;
  padding: 1vh 2vh;
  border-radius: vars.$border-radius;
  font-weight: 800;
  font-size: large;
}

.modal-myprofile h4{
  font-size: xx-large;
}

.button-confirm, .button-cancel {
  width: fit-content;
}

.button-myprofile{
  display: flex;
  gap: 3vh;
}


@media (max-width: 2160px) {
  .myProfile {
    width: 80%;
  }
  .my-reservation {
    width: 80%;
  }
}

@media (max-width: 1580px) {
  .my-reservation-border{
    width: 30%;
  }
}

@media (max-width: 1780px) {
  .myProfile {
    width: 90%;
  }
  .my-reservation {
    width: 90%;
    margin: 3vh 5vh;
  }
}

@media (max-width: 1300px) {
  .my-reservation-test {
    display: block;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
  }

  .my-reservation-border {
    width: 50%;
    margin: 3vh auto;
  }
}


@media (max-width: 900px) {
  .my-reservation-test {
    display: block;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
  }

  .my-reservation-border {
    width: 80%;
    margin: 3vh auto;
  }
}

.modal-myprofile-update {
  background-color: vars.$medium-green;
  z-index: 5;
}

.reservation-calendar {
  width: 100%;
}

.buttons-update {
  display: flex;
  gap: 2vh;
}


@media screen and (max-width: 490px) {
  .modal-myprofile-update {
    padding: 1vh;
    height: fit-content;
  }
}

.no-reservation {
  padding: 5vh;
  text-align: center;
}

