@import "../../styles/vars.scss";

.modal-overlay{
  position: fixed;
  /* Top et left nécessaire pour avoir la croix bien placée. Si parade trouvée, les deux peuvent disparaître */
  top: 15vh;
  left: 18vh;
}

.modal-content {
  display: flex;
  flex-direction: column;
}

.modal-button {
  width: 1vw;
  padding: 1vh 2vh;
  background-color: transparent;
  border: none;
  z-index: 2;
  font-family: 'Overhaul', sans-serif;
}