@use "../../styles/vars" as vars;

.modal-content {
  position: fixed;
  width: 80%;
  top: 10vh;
  left: 10%;
  display: flex;
  flex-direction: column;
  background-color: vars.$colored-white;
  padding: 0;
  border-radius: vars.$border-radius;
  z-index: 100;
}

.modal-button {
  width: fit-content;
  background-color: vars.$colored-white;
  color: vars.$dark-black;
  padding: 2vh;
  margin: 1vh;
  border: none;
  z-index: 2;
  font-family: 'Overhaul', sans-serif;
  text-align: center;
  line-height: 0;
  align-self: flex-end;
}

.children-div {
  display: flex;
};

@media screen and (max-width: 1024px){
  .modal-content{
    top: 3vh;
  }
  
  .children-div {
flex-direction: column  
  };
}