@use "../../styles/vars" as vars;

.reservation-calendar {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: vars.$light-green;
  border-radius: vars.$border-radius;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.reservation-calendar h3 {
  background-color: vars.$dark-green;
  width: 100%;
  border-radius: 10px 10px 0 0;
  padding: vars.$padding-content;
}

.reservation-container {
  display: flex;
  padding: vars.$padding-content;
  justify-content: space-evenly;
  align-items: start;
  text-align: center;
  gap: 2vh;
}

.reservation-container p {
  margin-bottom: 2vh;
}

.calendar-select {
 background-color: vars.$dark-green;
 color: vars.$colored-white;
 padding: 1vh 2vh;
 border-radius: vars.$border-radius;
 width: 100%;
 margin: 0;
}

.react-datepicker {
  z-index: 0;
}

.react-datepicker__day--selected {
  background-color: vars.$dark-green;
}

.react-datepicker__header, .react-datepicker__current-month, .react-datepicker__day-name {
  background-color: vars.$dark-green;
  color: vars.$colored-white;
}

.react-datepicker__month-container {
  background-color: vars.$colored-white;
}

@media screen and (max-width: 490px) {
  .reservation-container{
    flex-direction: column;
    align-items: center;
  }
}