@import "../../styles/vars.scss";

.reservation-calendar{
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: $light-green;
  border-radius: $border-radius;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.reservation-calendar h3{
  background-color: $dark-green;
  width: 100%;
  border-radius: 10px 10px 0 0;
  padding: $padding-content;
}

.reservation-container {
  display: flex;
  padding: $padding-content;
  justify-content: space-evenly;
  align-items: start;
  text-align: center;
  gap: 2vh;
}

.reservation-container p{
margin-bottom: 2vh;
}

.calendar-select{
 background-color: $dark-green;
 color: $colored-white;
 padding: 1vh 2vh;
 border-radius: $border-radius;
 width: 100%;
 margin: 0;
}

.react-datepicker__day--selected{
  background-color: $dark-green;
}

.react-datepicker__header, .react-datepicker__current-month, .react-datepicker__day-name {
  background-color: $dark-green;
  color: $colored-white;
}

.react-datepicker__month-container{
  background-color: $colored-white;
}