@import "../../styles/vars.scss";

.header {
  background-color: $dark-black;
  display: flex;
  padding: 1vh 5vh;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  gap: 2vh;
  position: fixed;
  z-index: 1;
  width: 100%;
  a{
    background-color: transparent;
    font-weight: 500;
    text-align: center;
    transition: color 0.3s ease, text-shadow 0.3s ease;
    border-bottom: $dark-black 2px solid;
  };

  a:hover {
    background-color: transparent;
    border-bottom: $red 2px solid;
    border-radius: 0
  };

  i{
    color: $white;
  };

  img{
    width: 11vh;
  }

  nav{
    display: flex;
    width:60%;
    justify-content: space-evenly;
  }

  .icons{
    display: flex;
    width: 10%;
    gap: 2vh;
    justify-content: space-around;
    align-items: center;
  }

  .booking{
    background-color: $red;
    border: none;
  }

  .booking:hover{
    background-color: $dark-green;
    border: none;
    border-radius: $border-radius;
  }

  .logo, .logo:hover {
    border :none;
  }

  .icons .user-button{
    border: none;
    background-color: transparent;
    padding: 0;
  }
  .logout-button{
    background-color: $light-green;
    width: fit-content;
    padding: 1vh 4vh;
  }

  .logout-button:hover{
background-color: $red;
  }
};

@media screen and (max-width: 1050px){
  .header nav, .header .icons, .header .booking, .header .logout-button {
    display: none;
  }
} 

.no-scroll {
  overflow: hidden;
}