@import "../../styles/vars.scss";

/* .reset-password-container {
  height: 49vh;

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    width: 61vw;
  }
}

.success-message {
  color: #F0F;
}

.forgotten-mail {
  height: 10vh;

  .mail-button {
    margin: 0 auto;
  }
}

.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  padding: 15px 0;

  label {
    margin-right: none;
  }

  #email {
    margin: 5vh 0;
    width: 25vw;
  }
} */

.reset-password-container {
  width: 75%;
  height: 53vh;
  margin: 0 auto;

   form {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      margin-bottom: 4%;
    }
   }

   .form-group{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    padding: 1.5% 0;

    label {
      width: 20vw;
    }

    input {
      width: 15vw;
      margin-right: 1%;
    }

    i {
      margin-left: 0,5%;
    }
   }

   .reset-button {
    margin: 4% 0;
    width: 29%;
    padding: 1% 1%;
  }

}

@media screen and (max-width: 850px){
  .reset-password-container {
    width: 90%;
    height: 57vh;
    margin: 0 auto;

    .form-group {
      display: flex;
      flex-direction: row;

      label {
        width: 25vw;
      }

      input {
        width: 23vw;
      }
    }
  }
}

@media screen and (max-width: 475px){

  h2 {
    font-size: larger;
  }

  .reset-password-container {
    width: 90%;
    height: 57vh;
    margin: 0 auto;

    .form-group {
      display: flex;
      flex-direction: row;
      margin: 3% 0;

      label {
        width: 36vw;
      }

      input {
        width: 33vw;
      }
    }

    .reset-button {
      margin: 6% 0;
      width: 65%;
      padding: 3% 1%;
    }
  }
}