@import "../../styles/vars.scss";

.reservation-recap{
  padding: $padding-content;
  background-color: $dark-green;
  color: $colored-white;
  border-radius: $border-radius;
  width: 50%;
  height: fit-content;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.reservation-border{
  padding: $padding-content;
  border: 2px solid $medium-green;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.reservation-head{
  display: flex;
  gap: 2vh;
}

.reservation-head div{
  display: flex;
  flex-direction: column;
  gap: 1vh;
}


.reservation-billet{
  font-family: "Overhaul";
  justify-content: center;
}

.reservation-head img{
  width: 10vh;
}

.reservation-content{
  display: flex;
  flex-direction: column;
}

.reservation-content button{
  background-color: $light-green;
  border: none;
  box-shadow: $dark-black 0px 1px 2px 0px, $dark-black 0px 2px 6px 2px;
}

.reservation-price{
display: flex;
padding: $padding-content;
justify-content: space-between;
font-size: large;
}

.reservation-total{
  display: flex;
  padding: $padding-content;
  justify-content: flex-end;
  align-items: center;
  gap: 3vh;
}

.space{
  width: 90%;
  border-bottom: 2px $colored-white dotted;
}

.totale-text{
  font-weight: 800;
  font-size: large;
}

.total-price{
  background-color: $medium-green;
  padding: 1vh 2vh;
  border-radius: $border-radius;
  font-weight: 800;
  font-size: large;
}

.error-message{
 background-color: $red;
 margin-top: 2vh;
 padding: 1vh;
 border-radius: 10px;
}

.success-message{
  background-color: $light-green;
  margin-top: 2vh;
  padding: 1vh;
  border-radius: 10px;
}