@use "../../styles/vars" as vars;

.reservation-recap{
  padding: vars.$padding-content;
  background-color: vars.$dark-green;
  color: vars.$colored-white;
  border-radius: vars.$border-radius;
  width: 100%;
  height: fit-content;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.reservation-border{
  padding: vars.$padding-content;
  border: 2px solid vars.$medium-green;
  border-radius: vars.$border-radius;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.reservation-head{
  display: flex;
  align-items: center;
  gap: 2vh;
}

.reservation-head div{
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.reservation-billet{
  font-family: 'Overhaul', sans-serif;
  justify-content: center;
}

.reservation-head img{
  width: 100px;
  height: 100px;
}

.reservation-content{
  display: flex;
  flex-direction: column;
}

.reservation-content button{
  background-color: vars.$light-green;
  border: none;
  box-shadow: vars.$dark-black 0px 1px 2px 0px, vars.$dark-black 0px 2px 6px 2px;
}

.reservation-price{
display: flex;
padding: vars.$padding-content;
justify-content: space-between;
font-size: large;
}

.reservation-total{
  display: flex;
  padding: vars.$padding-content;
  justify-content: flex-end;
  align-items: center;
  gap: 3vh;
}

.space{
  width: 70%;
  border-bottom: 2px vars.$colored-white dotted;
}

.totale-text{
  font-weight: 800;
  font-size: large;
}

.total-price{
  background-color: vars.$medium-green;
  padding: 1vh 2vh;
  border-radius: vars.$border-radius;
  font-weight: 800;
  font-size: large;
}

.error-message{
 background-color: vars.$red;
 margin-top: 2vh;
 padding: 1vh;
 border-radius: 10px;
 animation: fadeOut 3s ease-in-out forwards;
 animation-delay: 1s;
}

.success-message{
  background-color: vars.$light-green;
  margin-top: 2vh;
  padding: 1vh;
  border-radius: 10px;
  animation: fadeOut 3s ease-in-out forwards;
  animation-delay: 1s;
}

.warning-message, .error-auth-message{
  font-style: italic;
  font-weight: 500;
  background-color: vars.$colored-white;
  color: vars.$red;
  margin-bottom: 2vh;
  width: fit-content;
  padding: 1vh;
  border-radius: vars.$border-radius;
}

.error-auth-message{
  background-color: vars.$red;
  color: vars.$colored-white;
}

@keyframes fadeOut{
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@media screen and (max-width: 1024px){
  .reservation-border button {
    padding: 1vh 3vh;
  }
}

@media screen and (max-width: 490px){
  .reservation-price{
    padding: 3vh 0;
  }

  .reservation-border{
    border: none;
    padding: 0
  }
}