@import "../../styles/vars.scss";

.zombies-footer{
  background-image: url('../../../public/footer.webp');
  background-repeat: repeat-x;
  background-size: contain;
  height: 100px;
  margin-bottom: -1px;
  z-index: 0;
}

.footer {
  background: $dark-black;
  color: $white;
  display: flex;
  padding: 4vh 5vh;
  gap: 5vh;
  justify-content: space-evenly;

  z-index: 0;


  div {
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
    
    a {
     background: $dark-black;
     padding: 0;
     font-size: small;
   }

    p {
      font-weight: 800;
      padding-bottom: 5px;
    }
  }
}

@media screen and (max-width: 490px){
  .footer .Help, .footer .Visit{
    display: none;
  }

  .footer .Tips{
    text-align: center;
  }
}