@import "../../styles/vars.scss";

.SignUpSection {
  display:flex;
  flex-direction: column;
  justify-content: center;
  /* align-content: center; */
  background-color: $light-green;
  padding: 0;
  width: 50%;
  height: 75vh;
  // position: fixed;
  top: 15vh;
  left: 18vh;

  h1 {
    background-color: $light-green;
    padding: 0;
    margin: 0 auto;
  }

  .password {
    display: flex;
    justify-content: space-between;
    margin:0;
    gap: 1vh;

    div {
      display: flex;
    }

    .fa-eye, .fa-eye-slash {
      position: absolute;
      font-weight: 600;
      margin-left: 0.5vh;
    }
  }

  .password div, .identity div {
    width: 45%;
  }

  #password, #passwordConfirmation, #lastname, #firstname{
    width: 100%;
  }

  .identity {
    display: flex;
    margin: 0;
    justify-content: space-between;
    gap: 1vh;
  }

  #email {
    width: -webkit-fill-available;
  }
}

.signup-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 40%;
  justify-content: space-between;

  :nth-last-child(1){
    align-self: center;
  }

   div {
    margin: 1.5vh 0;
  } 

  input {
    background-color: $light-green;
    border: solid 2px $colored-white;
    //width: -webkit-fill-available;
  }
}

::placeholder{
  color: $colored-white;
}

::-ms-input-placeholder {
  color: $colored-white;
}
