@use "../../styles/vars" as vars;

.SignUpSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  padding: 10vh;
  background-color: vars.$light-green;
  width: 50%;
  height: 60vh;
  border-end-start-radius: vars.$border-radius;
  gap: 2vh;}

  .SignUpSection h2 {
    background-color: vars.$light-green;
    padding: 0;
    margin: 0 auto;
}

.signup-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 80%;
  justify-content: space-between;
  width: 100%;
  gap: 2vh;
}

.signup-form input {
  background-color: vars.$light-green;
  border: solid 2px vars.$colored-white;
  width: 100%;
}

.email {
  width: 100%;
}

 .password, .identity {
    display: flex;
    justify-content: space-between;
    margin:0;
    gap: 2vh;
    width: 100%;

  }

  .password-div, .passwordConfirmation-div, .lastname-div, .firstname-div{
    display: flex;
    align-items: center;
    width: 45%;
  }
  

  .password-div i, .passwordConfirmation-div i{
    margin-left: 1vh;
    width: 5%;
  }

  .SignUpSection button{
    width: 100%;
  }

::placeholder{
  color: vars.$colored-white;
}

::-ms-input-placeholder {
  color: vars.$colored-white;
}

@media screen and (max-width: 1024px){
  .SignUpSection {
    width: 100%;
    height: 40vh;
    padding: 3vh;
} 
.password-div i, .passwordConfirmation-div i{
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0
}
}

@media screen and (max-width: 900px){
  .SignUpSection {
    height: 45vh;
  }
  
  .SignUpSection button{
    padding: 1vh 3vh;
  }
}

