@import "../../styles/vars.scss";

.banner-homePage{
  width: 100%;
  height: 50vh;
  background-image: url('../../public/ZombieLand-HomePage-Banner.webp');
  background-size: cover;
  background-position: center 33%;
  display: flex;
}

.banner-homePage h1{
  margin: auto;
}
h2{
  text-align: center;
  margin-top: 4rem;
}

.attractions-display-btn{
  display: block;
  margin: -5rem auto 7rem auto;
  background-color: #63878C;
  border: none;
  cursor: pointer;
}
.attractions-display-btn:hover{
  background-color: #BE3B40;
}

.parc-presentation{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto 1fr;
  gap: 20px;
  align-items: start;
  background-color: black;
  margin-bottom: 8rem;
  padding-bottom: 5rem;

}

.parc-presentation h3{
  grid-column: 1 / -1;
  justify-self: start;
  align-self: center;
  background-color: black;
}

.parc-presentation img{
  grid-column: 1;  
}

.parc-presentation p{
  grid-column: 2;
  align-self: center;
  color: aliceblue;
  margin-left: 2rem;
}

.attraction-img{
  display: block;
  margin: 0;
}
span{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  
}
.info-icones{
  display: flex;
  justify-content: space-between;
  background-color: #243037;
  color: aliceblue;
  padding-bottom: 3rem;
  margin-left: 20rem;
  margin-right: 20rem;
  border-radius: 0.5rem;
}
.info-icones span{
  background-color: #7fb4af;
  padding: 1rem;
  border-radius: 0.5rem;
}
.modal{
  text-align: center;
  background-color: rgb(190, 59, 64, 0.7);
  margin-right: 40rem;
  margin-left: 40rem;
  padding: 2rem;
  color: aliceblue;
  transition: opacity 1s ease-in-out;
  position: fixed;
  top: 20rem;
  left: 0;
  border-radius: 0.5rem;

}
.modal.show{
  opacity: 1;
}