@import "../../styles/vars.scss";

.banner-homePage{
  width: 100%;
  height: 50vh;
  background-image: url('../../public/ZombieLand-HomePage-Banner.webp');
  background-size: cover;
  background-position: center 33%;
  display: flex;
}

.banner-homePage h1{
  margin: auto;
}
h2{
  text-align: center;
  margin-top: 4rem;
}

h3{
  margin: 0;
}

.attraction-img{
  display: block;
  margin: 0;
}
span{
  display: flex
  
}
.modal{
  text-align: center;
  background-color: rgb(190, 59, 64, 0.7);
  margin-right: 40rem;
  margin-left: 40rem;
  padding: 2rem;
  color: aliceblue;
  transition: opacity 1s ease-in-out;
  position: fixed;
  top: 20rem;
  left: 0;
  border-radius: 0.5rem;

}
.modal.show{
  opacity: 1;
}