@use "../../styles/vars" as vars;

.banner-reservation{
  width: 100%;
  height: 50vh;
  background-image: url('../../public/Parc_zombieland.png');
  background-size: cover;
  background-position: center 33%;
  display: flex;
}

.banner-reservation h1{
  margin: auto;
}

.reservation .title{
 margin-top: 5vh;
 text-align: center;
}

.calendar-recap{
  display: flex;
  align-items: stretch;
  padding: 10vh 9vh;
  gap: 5vh;
}

@media screen and (max-width: 1200px){
  .calendar-recap{
    padding: 10vh 9vh;
  }
}

@media screen and (max-width: 1024px){
  .calendar-recap{
    flex-direction: column;
  }
}

@media screen and (max-width: 490px){
 .calendar-recap{
    padding: 3vh;
 } 
}

